{% extends 'base.html' %}
{% block title %}|| {{user}}{% endblock title %}
{% block content %}
<div class="row">
    <div class="col-md-8 mx-auto">
        <div class="container my-5">
            <h2>Your blogs</h2>
            {% if blogs %}
            <div class="row">
                {% for blog in blogs %}
                    <div class="col-sm-8 mx-auto my-3 border-0 w-75">
                        <div class="card border-1 m-1 p-3" href="#">
                            <img src="{{blog.image.url}}" class="card-img-top rounded-1 image-fluid" style="width:100px" alt="">
                            <div class="card-body p-0">
                                <h6 class="card-text"><strong>{{blog.title}}</strong></h6>
                                <p class="text-justify">{{blog.description|safe | slice:":300"}}{% if blog.description|length > 300 %}...{% endif %}<a class="ms-2" href="{% url 'blog_details' blog.id %}"><strong>Continue Reading</strong></a></p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% else %}
            <h3 class="text-center my-3">Nothing to find here !!</h3>
            {% endif %}
        </div>
    </div>
</div>{% endblock content %}